/* Created by Tivotal */

/* google fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #e3f2fd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion {
  max-width: 630px;
  width: 100%;
  background-color: #fff;
  margin: 0 15px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.accordion .content {
  margin: 10px 0;
  border-radius: 4px;
  background-color: #fff7f0;
  border: 1px solid #ffd6b3;
  overflow: hidden;
}

.accordion .content.open {
  padding-bottom: 10px;
}

.accordion .content header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0 15px;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s linear;
}

.accordion .content.open header {
  min-height: 35px;
}

.accordion .content header .title {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  text-transform: capitalize;
}

.accordion .content header i {
  font-size: 15px;
  color: #333;
}

.accordion .content .description {
  font-size: 12px;
  padding: 0 15px;
  font-weight: 400;
  color: #333;
  transition: all 0.3s linear;
  height: 0;
}

.accordion .content:nth-child(2) {
  background-color: #f0faff;
  border-color: #cceeff;
}

.accordion .content:nth-child(3) {
  background-color: #fff0f3;
  border-color: #ffccd6;
}

.accordion .content:nth-child(4) {
  background-color: #f0f0ff;
  border-color: #ccccff;
}
